@font-face {
    font-family: "Next-Art";
    src: url('../fonts/NunitoSans_7pt_Condensed-Regular.ttf');
    font-weight: 400;
    font-style: normal;

}

@font-face {
    font-family: "Next-Art";
    src: url('../fonts/NunitoSans_7pt_Condensed-Medium.ttf');
    font-weight: 500;
    font-style: normal;

}

@font-face {
    font-family: "Next-Art";
    src: url('../fonts/NunitoSans_7pt_Condensed-Bold.ttf');
    font-weight: 600;
    font-style: normal;

}
