@use '../media' as *;
@use '../globals' as *;
.blogs{
    background-color: var(--color-lite-grey);

    padding: 80px 0 100px 0;

    @include tablet-s{
        padding: 60px 0;
    }

    &__titles{
        text-align: center;
        margin-bottom: 40px;
    }

    &__content{

        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;

        margin-bottom: 50px;

        @include mobile{
            display: flex;
            overflow-y: scroll;

            ::-webkit-scrollbar {
                display: none;
            }
            -ms-overflow-style: none;
            scrollbar-width: none;
        }
    }

    &__card{
        max-height: 312px;
        min-width: 285px;
        display: flex;
        gap:24px;
        padding: 16px;

        background-color: var(--color-white);
        border-radius: 10px;


        @include hover{

            transition-duration: 0.3s;
            .card__title{
                color: var(--color-acent);
                text-decoration-line: underline;
                text-decoration-color: var(--color-acent);
                transition-duration: 0.3s;
            }

            cursor: pointer;
        }

        @include tablet{
            flex-direction: column;
            max-height: 496px;
        }

        &__img{
            width: 230px;
            height: auto;

            border-radius: 6px;

            @include tablet{
                width: 100%;
                height: 200px;
                object-fit: none;
            }
        }

        .card__title{
            height: 65px;
            overflow: hidden;

            margin-bottom: 24px;
            font-size: 24px;
            @include laptop {
                font-size: 20px;
            }
        }

        .card__txt{
            overflow: hidden;
            // max-height: 110px;
            display: block;
            height: 110px;
        

            margin-bottom: 24px;
        }

        .card__bottom{
            display: flex;
            justify-content: space-between;


            .date-create{
                color: #F2BE22;
            }

            &__btn{
                color: #1A3E3E;
                font-weight: 600;
                font-size: 14px;
            }
        }
    }

    &__bottom{
        text-align: center;
    }
}